.movie-card__container {
  transition: transform 0.2s ease;
  max-width: 260px;
  min-width: 260px;
  width: 260px;
  animation: cardAppear 0.6s ease forwards;
}

.movie-card__container_size {
  max-width: 205px;
  min-width: 205px;
  width: 205px;
}

.movie-card__img-container {
  position: relative;
  border-radius: 16px;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.03);
  }
}

.movie-card__img-container_darkened {
  &:hover {
    transform: scale(1);
    opacity: 0.65;
  }
}

.movie-card__img {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  position: relative;
  margin-block-end: 2px;
  border-radius: 12px;
  object-fit: cover;
  z-index: 1;
}

.movie-card__img_size {
  height: 305px;
  box-shadow: none;
  margin: 0;
}

.movie-card__title {
  margin-block-start: 4px;
  margin-block-end: 2px;
  background: linear-gradient(45deg, #fff, #00a1e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
}

.movie-card__title_size {
  font-size: 15px;
  padding-inline: 5px;
}

.movie-card__genre {
  font-size: 14px;
  color: #94a3b8;
}

@keyframes cardAppear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
