.skeleton__container {
  padding-block-start: 100px;
  padding-block-end: 30px;
  padding-inline: 50px;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 30px;
  padding-inline: 50px;
}

.skeleton__title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 1820px;
  height: 58px;
  background-color: #1c232b;
  border-radius: 24px;
  margin: 0;
}

.skeleton__button {
  margin-left: 10px;
  width: 80px;
  height: 39px;
  background-color: #2a2e35;
  border-radius: 12px;
}

.skeleton__titleText {
  justify-self: center;
  width: 400px;
  height: 30px;
  background-color: #2a2e35;
  border-radius: 12px;
}

.skeleton__forms {
  display: flex;
  padding-inline: 14px;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  width: 1820px;
  height: 70px;
  background-color: #1c232b;
  border-radius: 20px;
}

.skeleton__form {
  width: 100%;
  height: 40px;
  background-color: #2a2e35;
  border-radius: 12px;
  align-self: center;
}

.skeleton__formButton {
  width: 400px;
  height: 37px;
  background-color: #2a2e35;
  border-radius: 12px;
}

@keyframes shimmer {
  100% {
    left: 200%;
  }
}

.skeleton__title,
.skeleton__button,
.skeleton__titleText,
.skeleton__form,
.skeleton__formButton {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

@media (max-width: 1920px) {
  .skeleton__container {
    max-width: 1620px;
  }
  .skeleton__title {
    width: 1620px;
  }
  .skeleton__forms {
    width: 1620px;
  }
}

@media (max-width: 1700px) {
  .skeleton__container {
    max-width: 1320px;
  }
  .skeleton__title {
    width: 1320px;
  }
  .skeleton__forms {
    width: 1320px;
  }
}

@media (max-width: 1430px) {
  .skeleton__container {
    max-width: 1020px;
  }
  .skeleton__title {
    width: 1020px;
  }
  .skeleton__forms {
    width: 1020px;
  }
}

@media (max-width: 1420px) {
  .skeleton__container {
    padding-block-start: 80px;
  }
}

@media (max-width: 1020px) {
  .skeleton__container {
    max-width: 720px;
  }
  .skeleton__title {
    width: 720px;
  }
  .skeleton__forms {
    width: 720px;
  }
}

@media (max-width: 900px) {
  .skeleton__title {
    display: flex;
    justify-content: space-between;
    width: 552px;
  }
  .skeleton__titleText {
    width: 360px;
    margin-right: 50px;
  }
  .skeleton__forms {
    width: 552px;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 14px;
  }
  .skeleton__form {
    align-self: start;
    width: 522px;
  }
  .skeleton__formButton {
    width: 80px;
  }
}

@media (max-width: 720px) {
  .skeleton__container {
    padding-block-start: 70px;
  }
}

@media (max-width: 670px) {
  .skeleton__container {
    max-width: 420px;
  }
  .skeleton__title {
    width: 420px;
  }
  .skeleton__forms {
    width: 420px;
  }
  .skeleton__form {
    width: 390px;
  }
  .skeleton__titleText {
    width: 240px;
  }
}

@media (max-width: 600px) {
  .skeleton__title {
    background-color: transparent;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    &::after {
      animation: none;
    }
  }
  .skeleton__titleText {
    margin: 0;
    width: 300px;
  }
  .skeleton__forms {
    margin-inline: auto;
  }
}

@media (max-width: 482px) {
  .skeleton__forms {
    width: 370px;
    margin-inline: auto;
  }
  .skeleton__form {
    width: 340px;
  }
}

@media (max-width: 400px) {
  .skeleton__forms {
    width: 330px;
    margin-inline: auto;
  }
  .skeleton__form {
    width: 300px;
  }
}

@media (max-width: 375px) {
  .skeleton__titleText {
    width: 240px;
  }
  .skeleton__forms {
    width: 280px;
    margin-inline: auto;
  }
  .skeleton__form {
    width: 250px;
  }
}
