.movies-list-main__container {
  max-width: 1920px;
  width: 100%;
  padding-block-start: 100px;
  padding-block-end: 30px;
  padding-inline: 50px;
  margin: 0 auto;
}

@media (max-width: 1420px) {
  .movies-list-main__container {
    padding-block-start: 80px;
  }
}

@media (max-width: 1320px) {
  .movies-list-main__container {
    padding-inline: 20px;
  }
}

@media (max-width: 720px) {
  .movies-list-main__container {
    padding-block-start: 70px;
  }
}
