.detail__right-part-oscar-container {
  position: relative;
  &:hover {
    .detail__right-part-oscar-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

.detail__right-part-oscar-img {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(0, 161, 231, 0.8));
}

.detail__right-part-oscar-num {
  position: absolute;
  left: 94px;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  letter-spacing: -1px;
  font-size: 14px;
}

.detail__right-part-oscar-text {
  position: absolute;
  background-color: #313d4b;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
  width: 500px;
  min-height: 260px;
  left: -380px;
  top: -24px;
  padding-block: 24px;
  padding-inline: 30px;
  border-radius: 12px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

.detail__right-part-oscar-title {
  font-size: 30px;
  margin-block-end: 14px;
}

.detail__right-part-oscar-years-and-wins {
  display: flex;
  gap: 20px;
  padding-inline-start: 30px;
}

.detail__right-part-oscar-year {
  font-size: 16px;
  font-weight: 400;
}

.detail__right-part-oscar-wins-title {
  font-size: 16px;
  font-weight: 700;
  margin-block-end: 10px;
}

.detail__right-part-nominations {
  display: flex;
  width: 260px;
  padding-block: 5px;
  font-weight: 400;
}

@media (max-width: 920px) {
  .detail__right-part-oscar-img {
    display: none;
  }
  .detail__right-part-oscar-num {
    display: none;
  }
}
