.footer {
  width: 100%;
  background-color: #1c232b;
  margin-block-start: auto;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(0deg, #00a1e7, transparent);
    will-change: opacity;
    animation: footerGlow 3s infinite;
  }
}

.footer__container {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 50px;
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer__copyright-container {
  color: #94a3b8;
  font-size: 13px;
}

.footer__copyright {
  font-weight: 500;
  color: #cbd5e1;
  margin-block-end: 8px;
  font-size: 14px;
}

@keyframes footerGlow {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 540px) {
  .footer__logo {
    font-size: 20px;
  }
  .footer__copyrightContainer {
    font-size: 10px;
  }
}

@media (max-width: 457px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__logo {
    order: 1;
    margin-block-end: 5px;
  }
  .footer__copyrightContainer {
    order: 2;
  }
}

@media (max-width: 344px) {
  .footer__copyrightContainer {
    font-size: 9px;
  }
}
