.search__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.search__form {
  position: relative;
  width: 100%;
  max-width: 344px;
  transition: max-width 0.4s;
}

.search__form_focused {
  max-width: 460px;
}

.search__input-container {
  position: relative;
  width: 100%;
}

.search__input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #374450;
  background-color: #29333d;
  border-radius: 6px;
  outline: none;
  color: #cbd5e1;
  &::placeholder {
    color: #94a3b8;
  }
}

.search__progress {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__list {
  position: absolute;
  top: 45px;
  list-style: none;
  align-items: center;
  padding-inline: 0;
  background-color: #29333d;
  width: 100%;
  border-radius: 6px;
  overflow-y: auto;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
}

.search__list_visible {
  opacity: 1;
  visibility: visible;
}

.search__item {
  padding-block: 9.5px;
  padding-inline: 14px;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #3d4a58;
  }
}

.search__link {
  text-decoration: none;
  color: #cbd5e1;
}

.search__movie-type {
  color: #00a1e7;
}

.search__empty {
  display: flex;
  justify-content: center;
  padding-block: 10px;
}
