.detail__additional {
  padding-inline: 9px;
  padding-block-start: 40px;
  overflow: hidden;
  max-width: 882px;
  position: relative;
}

.detail__additional-title {
  font-size: 28px;
  margin-block-end: 16px;
}

.detail__additional-wrapper {
  display: flex;
}

.detail__additional-cards-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 9px;
}

.detail__additional-cards-container::-webkit-scrollbar {
  display: none;
}

.detail__scroll-button {
  height: 44px;
  width: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  border-radius: 50%;
  border: none;
  transition: all 0.2s;
  color: #333;
  background-color: #cbd5e1;
  transition: all 0.2s ease-in-out;
}

.detail__scroll-button-left {
  left: 5px;
  &:hover {
    transform: translateX(-5px);
  }
}

.detail__scroll-button-right {
  right: 5px;
  &:hover {
    transform: translateX(5px);
  }
}

.detail__scroll-button-hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.detail__scroll-button-visible {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1320px) {
  .detail__additional-title {
    font-size: 26px;
  }
}

@media (max-width: 1120px) {
  .detail__additional-title {
    font-size: 24px;
    margin-block-end: 10px;
  }
}

@media (max-width: 920px) {
  .detail__additional-title {
    font-size: 22px;
  }
  .detail__scroll-button {
    height: 40px !important;
    width: 40px !important;
  }
}

@media (max-width: 450px) {
  .detail__additional-title {
    font-size: 19px;
  }
}
