.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(28, 35, 43, 1);
  z-index: 1100;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;
}

.navbar__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__toolbar {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.navbar__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.navbar__burger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #cbd5e1;
  border-radius: 10px;
  &:nth-child(2) {
    margin-block: 5px;
  }
}

.navbar__menu {
  padding-block: 20px;
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__list-item {
  width: 100%;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(72, 87, 105, 0.3);
  }
}

.navbar__link {
  text-decoration: none;
  color: inherit;
}

.navbar__list-item-button {
  display: flex;
  align-items: center;
  padding-block: 18px;
  padding-inline: 30px;
  gap: 30px;
  color: #cbd5e1;
}

:global {
  .css-1umw9bq-MuiSvgIcon-root {
    width: 30px !important;
    height: 30px !important;
  }
}

.navbar__list-item-text {
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.navbar__divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 16px 0;
}

.navbar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.navbar__drawer {
  position: fixed;
  top: 0;
  left: -550px;
  width: 500px;
  height: 100vh;
  background-color: #1c232b;
  will-change: transform;
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
  z-index: 1002;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);

  &.navbar__drawer_open {
    left: 0;
  }
}

.navbar__logo-search {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1420px) {
  .navbar__toolbar {
    height: 80px;
  }
  .navbar__burger {
    width: 28px;
    height: 2.7px;
  }
  .navbar__menu {
    padding-block: 16px;
  }
  .navbar__list-item-button {
    padding-block: 16px;
    padding-inline: 26px;
    gap: 26px;
  }
  .navbar__list-item-text {
    font-size: 18px;
  }
  .css-1umw9bq-MuiSvgIcon-root {
    width: 26px !important;
    height: 26px !important;
  }
  .navbar__drawer {
    width: 440px;
  }
}

@media (max-width: 1120px) {
  .navbar__menu {
    padding-block: 12px;
  }
  .navbar__list-item-button {
    padding-block: 15px;
    padding-inline: 24px;
    gap: 24px;
  }
  .navbar__drawer {
    width: 430px;
  }
}

@media (max-width: 1020px) {
  .navbar__menu {
    padding-block: 12px;
  }
  .navbar__list-item-button {
    padding-block: 15px;
    padding-inline-end: 0px;
    padding-inline-start: 18px;
    gap: 22px;
  }
  .navbar__drawer {
    width: 350px;
  }
  .navbar__list-item-text {
    font-size: 17px;
    font-weight: 500;
  }
  .css-1umw9bq-MuiSvgIcon-root {
    width: 24px !important;
    height: 24px !important;
  }
  .navbar__divider {
    margin-block: 10px;
  }
}

@media (max-width: 818px) {
  .navbar__list-item-button {
    padding-block: 12px;
    padding-inline-start: 17px;
    gap: 20px;
  }
  .navbar__drawer {
    width: 280px;
  }
  .navbar__list-item-text {
    font-size: 15px;
    font-weight: 600;
  }
  .css-1umw9bq-MuiSvgIcon-root {
    width: 22px !important;
    height: 22px !important;
  }
  .navbar__divider {
    margin-block: 8px;
  }
}

@media (max-width: 720px) {
  .navbar__toolbar {
    height: 70px;
  }
  .navbar__burger {
    width: 26px;
    height: 2.4px;
  }
  .navbar__container {
    padding-inline: 30px;
  }
}

@media (max-width: 666px) {
  .navbar__menu {
    padding-block: 8px;
  }
  .navbar__list-item-button {
    padding-block: 10px;
    padding-inline-start: 13px;
    padding-inline-end: 3px;
    gap: 14px;
  }
  .navbar__drawer {
    width: 230px;
  }
  .navbar__list-item-text {
    font-size: 13px;
    font-weight: 400;
  }
  .css-1umw9bq-MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
  }
  .navbar__divider {
    margin-block: 6px;
  }
}

@media (max-width: 466px) {
  .navbar__menu {
    padding-block: 4px;
  }
  .navbar__list-item-button {
    padding-block: 8px;
    padding-inline-start: 8px;
    gap: 12px;
  }
  .navbar__drawer {
    width: 180px;
  }
  .navbar__list-item-text {
    font-size: 10px;
    font-weight: 400;
  }
  .css-1umw9bq-MuiSvgIcon-root {
    width: 16px !important;
    height: 16px !important;
  }
  .navbar__divider {
    margin-block: 4px;
  }
}
