.navbar {
  background-color: #1c232b !important;
}

.navbar__container {
  width: 1440px;
  margin-inline: auto;
}

.navbar__iconButton {
  margin-right: 5px !important;
  &:hover {
    background-color: rgba(72, 87, 105, 0.3) !important;
  }
}

.navbar__drawer {
  background-color: #1c232b !important;
}

.navbar__menu {
  width: 400px;
}

.navbar__listItemButton {
  text-align: center !important;
  color: #e9e9e9 !important;
}

.navbar__logo {
  background: linear-gradient(45deg, #fff, #00a1e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
}

.navbar__movieItemIcon {
  color: #e9e9e9;
}

.navbar__listItem {
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(72, 87, 105, 0.3);
  }
}

.navbar__listItemText {
  text-transform: uppercase;
}

.navbar__link {
  text-decoration: none !important;
}

@media (max-width: 888px) {
  .navbar__menu {
    width: 330px;
  }
  .navbar__listItemText {
    & span {
      font-size: 14px !important;
    }
  }
  .navbar__movieItemIcon {
    width: 20px !important;
    height: 20px !important;
  }
  .navbar__listItemButton {
    padding-block: 6px !important;
  }
}

@media (max-width: 460px) {
  .navbar__menu {
    width: 250px;
  }
  .navbar__listItemText {
    & span {
      font-size: 13px !important;
    }
  }
  .navbar__listItemButton {
    padding-block: 5px !important;
  }
}

@media (max-width: 325px) {
  .navbar__listItemButton {
    padding-inline: 10px !important;
  }
}
