.button {
  background: linear-gradient(45deg, #00a1e7, #0066ff);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 102, 255, 0.3);
  padding: 10px 16px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 102, 255, 1);
  }
}

.button_small {
  font-size: 13px;
  border-radius: 10px;
  padding: 9px 19px;
}
