.ratingWrapper {
  position: relative;
  z-index: 2;
}

.MovieCard__rating {
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 10px;
  color: #fff;
  padding-inline: 7px;
  padding-block: 2px;
  border-radius: 8px;
  font-size: 14px;
}

.MovieCard__rating_green_1 {
  background-color: #32ba43;
  border: 2px solid #00ff22;
}

.MovieCard__rating_green_2 {
  background-color: #89c939;
  border: 2px solid #c1ff75;
}

.MovieCard__rating_green_3 {
  background-color: #91a449;
  border: 2px solid #def0a0;
}

.MovieCard__rating_red {
  background-color: #b12323;
  border: 2px solid #eb1717;
}
