.detail__wrap {
  width: 1820px;
  padding-inline: 100px;
  color: #cbd5e1;
}

.detail__container {
  display: flex;
  padding-block-start: 130px;
  padding-block-end: 50px;
  gap: 30px;
}

.detail__left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #3b82f680 50%,
      transparent 100%
    );
  }
}

.detail__left-part-poster {
  width: 305px;
  height: 440px;
  object-fit: cover;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 1);
}

.detail__left-part-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-block-end: 10px;
  margin-block-start: 50px;
}

.detail__center-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.detail__center-part-main-title {
  margin-block-end: 48px;
  display: inline-block;
  position: relative;
}

.detail__center-part-title-desc {
  width: 600px;
  padding-inline: 9px;
}

.detail__center-part-title {
  font-size: 54px;
  margin-block-end: 16px;
}

.detail__center-part-description {
  font-size: 16px;
  line-height: 1.6;
}

.detail__right-part {
  margin-inline-start: auto;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.detail__bottom-part-description {
  font-size: 18px;
  line-height: 1.6;
  margin-block-end: 50px;
}

@media (max-width: 1900px) {
  .detail__wrap {
    width: 1720px;
  }
}

@media (max-width: 1720px) {
  .detail__wrap {
    width: 1520px;
    padding-inline: 50px;
  }
  .detail__left-part-poster {
    width: 280px;
    height: 400px;
  }
  .detail__center-part-title {
    font-size: 48px;
  }
  .detail__center-part-description {
    font-size: 15px;
  }
}

@media (max-width: 1520px) {
  .detail__wrap {
    width: 1320px;
  }
  .detail__center-part {
    gap: 20px;
    width: 600px;
  }
  .detail__left-part-poster {
    width: 260px;
    height: 370px;
  }
  .detail__center-part-title {
    font-size: 40px;
  }
}

@media (max-width: 1420px) {
  .detail__container {
    padding-block-start: 110px;
  }
}

@media (max-width: 1320px) {
  .detail__wrap {
    width: 1120px;
    padding-inline: 20px;
  }
  .detail__center-part {
    gap: 10px;
    width: 500px;
  }
  .detail__left-part-poster {
    width: 230px;
    height: 340px;
  }
  .detail__center-part-title {
    font-size: 30px;
    margin-block-end: 10px;
  }
  .detail__center-part-description {
    font-size: 13px;
  }
  .detail__center-part-title-desc {
    width: 100%;
    padding-inline: 0px;
  }
  .detail__bottom-part-description {
    font-size: 16px;
  }
}

@media (max-width: 1120px) {
  .detail__wrap {
    width: 920px;
  }
  .detail__left-part-poster {
    width: 200px;
    height: 300px;
  }
  .detail__center-part {
    gap: 0px;
    width: 400px;
  }
  .detail__center-part-title {
    font-size: 24px;
  }
  .detail__center-part-description {
    font-size: 12px;
  }
  .detail__bottom-part-description {
    font-size: 15px;
  }
}

@media (max-width: 920px) {
  .detail__wrap {
    width: 600px;
  }
  .detail__container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .detail__center-part {
    width: 100%;
  }
  .detail__right-part {
    position: absolute;
    order: 2;
    margin-inline-start: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
  }
  .detail__center-part {
    order: 3;
  }
  .detail__left-part {
    gap: 30px;
  }
  .detail__bottom-part-description {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (max-width: 720px) {
  .detail__container {
    padding-block-start: 100px;
  }
}

@media (max-width: 600px) {
  .detail__wrap {
    width: 450px;
  }
  .detail__right-part-rating {
    order: 2;
  }
}

@media (max-width: 450px) {
  .detail__wrap {
    width: 350px;
  }
  .detail__right-part {
    display: none;
  }
  .detail__container {
    padding-block-end: 40px;
  }
  .detail__bottom-part-description {
    font-size: 13px;
    margin-block-end: 40px;
  }
  .detail__bottom-part-knows {
    margin-block-start: 50px;
  }
}

@media (max-width: 350px) {
  .detail__wrap {
    width: 310px;
  }
  .detail__right-part {
    top: 364px;
    right: 60px;
  }
}
