.MovieDetail__container {
  display: flex;
  padding-block-start: 40px;
  gap: 30px;
  color: #cbd5e1;
}

.MovieDetail__leftPart {
  padding-inline: 9px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MovieDetail__leftPartPoster {
  width: 222px;
  height: 333px;
  object-fit: cover;
}

.MovieDetail__leftPartButtons {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-block-end: 10px;
}

.MovieDetail__rightPart {
  width: 100%;
}

.MovieDetail__rightPartMainTitle {
  margin-block-end: 48px;
  display: flex;
  justify-content: space-between;
}

.MovieDetail__rightPartTitleDesc {
  width: 600px;
  padding-inline: 9px;
}

.MovieDetail__rightPartTitle {
  font-size: 40px;
  margin-block-end: 16px;
}

.MovieDetail__rightPartdescription {
  font-size: 15px;
}

.MovieDetail__rightPartRating {
  padding-inline: 9px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.MovieDetail__rightPartRatingKinopoisk {
  font-size: 32px;
  font-weight: 800;
}

.MovieDetail__rightPartNoRatingKinopoisk {
  font-size: 20px;
  display: inline-block;
}

.MovieDetail__rightPartVoteCount {
  font-size: 11px;
}

.MovieDetail__rightPartAboutFilm {
  display: flex;
  justify-content: space-between;
}

.MovieDetail__rightPartAboutFilmContainer {
  width: 600px;
  padding-inline: 9px;
}

.MovieDetail__rightPartTitleAbout {
  font-size: 22px;
  margin-block-end: 9px;
}

.MovieDetail__rightPartAboutContainer {
  padding-block: 8px;
  font-size: 11px;
  display: flex;
}

.MovieDetail__rightPartKey {
  color: #94a3b8;
  display: inline-block;
  min-width: 160px;
}

.MovieDetail__rightPartValue {
  line-height: 18px;
}

.MovieDetail__rightPartActorsContainer {
  padding-inline-start: 52px;
  padding-inline: 9px;
  width: 200px;
  position: relative;
  min-height: 370px;
}

.MovieDetail__rightPartActorsAndOscarsContainer {
  margin-bottom: 24px;
}

.MovieDetail__rightPartActorsTitle {
  margin-block-end: 15px;
  font-size: 12px;
}

.MovieDetail__rightPartActorsList {
  font-size: 11px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-block-end: 5px;
}

.MovieDetail__rightPartNumActors {
  font-size: 11px;
  color: #00a1e7;
}

.MovieDetail__rightPartOscarContainer {
  position: relative;
  left: -16px;
  &:hover {
    .MovieDetail__rightPartOscarText {
      visibility: visible;
      opacity: 1;
    }
  }
}

.MovieDetail__rightPartOscarImg {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: -8px;
}

.MovieDetail__rightPartOscarNum {
  position: absolute;
  left: 84px;
  top: 90px;
  background-color: #00a1e7;
  border-radius: 100%;
  padding: 5px;
  z-index: 1;
  letter-spacing: -1px;
}

.MovieDetail__rightPartOscarText {
  position: absolute;
  background-color: #313d4b;
  width: 400px;
  left: -280px;
  top: -30px;
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 12px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

.MovieDetail__rightPartOscarTitle {
  font-size: 24px;
  margin-block-end: 14px;
}

.MovieDetail__rightPartOscarYearsAndWins {
  display: flex;
  gap: 10px;
  padding-inline-start: 20px;
}

.MovieDetail__rightPartOscarYear {
  font-size: 13px;
  font-weight: 800;
}

.MovieDetail__rightPartOscarWinsTitle {
  font-size: 14px;
  font-weight: 700;
}

.MovieDetail__rightPartNominations {
  display: flex;
  width: 200px;
  padding-block: 3.5px;
  font-weight: 400;
}

.MovieDetail__SequelsAndPrequelsContainer {
  padding-inline: 9px;
  padding-block-start: 40px;
  overflow: hidden;
  max-width: 882px;
  position: relative;
}

.MovieDetail__SequelsAndPrequelsContainerTitle {
  font-size: 22px;
  margin-block-end: 16px;
}

.MovieDetail__SequelsAndPrequelsCardsWrapper {
  display: flex;
}

.MovieDetail__SequelsAndPrequelsCardsContainer {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 9px;
}

.MovieDetail__SequelsAndPrequelsCardsContainer::-webkit-scrollbar {
  display: none;
}

.MovieDetail__ScrollButton {
  height: 44px;
  width: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  border-radius: 50%;
  border: none;
  transition: all 0.2s;
  color: #333;
  background-color: #cbd5e1;
  transition: all 0.2s ease-in-out;
}

.MovieDetail__ScrollButtonLeft {
  left: 5px;
  &:hover {
    transform: translateX(-5px);
  }
}

.MovieDetail__ScrollButtonRight {
  right: 5px;
  &:hover {
    transform: translateX(5px);
  }
}

.MovieDetail__ScrollButtonHidden {
  opacity: 0 !important;
  pointer-events: none;
}

.MovieDetail__ScrollButtonVisible {
  opacity: 1;
  pointer-events: auto;
}
