.movie-detail__wrap {
  width: 1820px;
  padding-inline: 100px;
  color: #cbd5e1;
}

.movie-detail__container {
  display: flex;
  padding-block-start: 130px;
  padding-block-end: 60px;
  gap: 30px;
}

.movie-detail__left-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      #3b82f680 50%,
      transparent 100%
    );
  }
}

.movie-detail__left-part-poster {
  width: 305px;
  height: 440px;
  object-fit: cover;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 1);
}

.movie-detail__left-part-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-block-end: 10px;
}

.movie-detail__center-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.movie-detail__center-part-main-title {
  margin-block-end: 48px;
  display: inline-block;
  position: relative;
}

.movie-detail__center-part-title-desc {
  width: 600px;
  padding-inline: 9px;
}

.movie-detail__center-part-title {
  font-size: 54px;
  margin-block-end: 16px;
}

.movie-detail__center-part-description {
  font-size: 16px;
  line-height: 1.6;
}

.movie-detail__center-part-about-film {
  display: inline;
}

.movie-detail__center-part-about-film-container {
  padding-inline: 9px;
}

.movie-detail__center-part-title-about {
  font-size: 28px;
  margin-block-end: 9px;
}

.movie-detail__center-part-about-container {
  padding-block: 10px;
  font-size: 12px;
  display: flex;
  border-bottom: 1px solid rgba(148, 163, 184, 0.1);
  &:last-child {
    border-bottom: none;
  }
}

.movie-detail__center-part-key {
  color: #94a3b8;
  display: inline-block;
  min-width: 160px;
}

.movie-detail__center-part-value {
  line-height: 18px;
}

.movie-detail__additional {
  padding-inline: 9px;
  padding-block-start: 40px;
  overflow: hidden;
  max-width: 882px;
  position: relative;
}

.detail__additional_padding-not {
  padding: 0;
}

.detail__additional_full-width {
  max-width: 100%;
}

.movie-detail__additional_margin-bottom {
  margin-block-end: 50px;
}

.movie-detail__additional-title {
  font-size: 28px;
  margin-block-end: 16px;
}

.movie-detail__additional-wrapper {
  display: flex;
}

.movie-detail__additional-cards-container {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 9px;
}

.movie-detail__additional-cards-container::-webkit-scrollbar {
  display: none;
}

.movie-detail__scroll-button {
  height: 44px;
  width: 44px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  border-radius: 50%;
  border: none;
  transition: all 0.2s;
  color: #333;
  background-color: #cbd5e1;
  transition: all 0.2s ease-in-out;
}

.movie-detail__scroll-button_top {
  top: 45%;
}

.movie-detail__scroll-button-left {
  left: 5px;
  &:hover {
    transform: translateX(-5px);
  }
}

.movie-detail__scroll-button-right {
  right: 5px;
  &:hover {
    transform: translateX(5px);
  }
}

.movie-detail__scroll-button-hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.movie-detail__scroll-button-visible {
  opacity: 1;
  pointer-events: auto;
}

.movie-detail__right-part {
  margin-inline-start: auto;
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.movie-detail__right-part-rating {
  display: flex;
  flex-direction: column;
  margin-block-end: 24px;
}

.movie-detail__right-part-rating-kinopoisk {
  font-size: 52px;
  font-weight: 800;
}

.movie-detail__right-part-vote-count {
  font-size: 14px;
}

.movie-detail__right-part-actors-container {
  position: relative;
}

.movie-detail__right-part-actors-and-oscars-container {
  margin-bottom: 36px;
}

.movie-detail__right-part-actors-title {
  margin-block-end: 14px;
  font-size: 17px;
}

.movie-detail__right-part-actors-list {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block-end: 5px;
}

.movie-detail__right-part-num-actors {
  font-size: 13px;
  color: #00a1e7;
}

.movie-detail__right-part-oscar-container {
  position: relative;
  &:hover {
    .movie-detail__right-part-oscar-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

.movie-detail__right-part-oscar-img {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(0, 161, 231, 0.8));
}

.movie-detail__right-part-oscar-num {
  position: absolute;
  left: 94px;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  letter-spacing: -1px;
  font-size: 14px;
}

.movie-detail__right-part-oscar-text {
  position: absolute;
  background-color: #313d4b;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
  width: 500px;
  min-height: 260px;
  left: -380px;
  top: -24px;
  padding-block: 24px;
  padding-inline: 30px;
  border-radius: 12px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out;
}

.movie-detail__right-part-oscar-title {
  font-size: 30px;
  margin-block-end: 14px;
}

.movie-detail__right-part-oscar-years-and-wins {
  display: flex;
  gap: 20px;
  padding-inline-start: 30px;
}

.movie-detail__right-part-oscar-year {
  font-size: 16px;
  font-weight: 400;
}

.movie-detail__right-part-oscar-wins-title {
  font-size: 16px;
  font-weight: 700;
  margin-block-end: 10px;
}

.movie-detail__right-part-nominations {
  display: flex;
  width: 260px;
  padding-block: 5px;
  font-weight: 400;
}

.movie-detail__bottom-part-movie-description {
  font-size: 18px;
  line-height: 1.4;
  margin-block-end: 50px;
}

.movie-detail__bottom-part-rating-title {
  font-size: 30px;
  margin-block-end: 14px;
}

.movie-detail__bottom-part-stars-container {
  display: flex;
  gap: 6px;
  margin-block-end: 50px;
}

.movie-detail__bottom-part-star {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #cbd5e1;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.movie-detail__bottom-part-star-filled {
  background-color: #00a1e7;
}

.movie-detail__bottom-part-similars-title {
  font-size: 30px;
}

.movie-detail__bottom-part-knows {
  margin-block-end: 50px;
}

.movie-detail__bottom-part-knows-title {
  font-size: 30px;
}

.movie-detail__bottom-part-knows-title_maring-bottom {
  margin-block-end: 14px;
}
.movie-detail__bottom-part-knows-item {
  font-size: 18px;
  padding-block: 14px;
  border-bottom: 1px solid rgba(148, 163, 184, 0.1);
  line-height: 1.6;
  &:last-child {
    border: none;
  }
}

.movie-detail__bottom-part-knows-item a {
  color: #00a1e7;
  text-decoration: none;
}

.movie-detail__bottom-part-knows-attention {
  background-color: rgba(60, 71, 85, 0.6);
  padding-block: 16px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.movie-detail__bottom-part-button {
  margin-inline-start: 40px;
  margin-block-start: 10px;
}

@media (max-width: 1900px) {
  .movie-detail__wrap {
    width: 1720px;
  }
}

@media (max-width: 1720px) {
  .movie-detail__wrap {
    width: 1520px;
    padding-inline: 50px;
  }
  .movie-detail__left-part-poster {
    width: 280px;
    height: 400px;
  }
  .movie-detail__center-part-title {
    font-size: 48px;
  }
  .movie-detail__center-part-description {
    font-size: 15px;
  }
  .movie-detail__center-part-title-about {
    font-size: 26px;
  }
  .movie-detail__center-part-sequels-and-prequels-container-title {
    font-size: 26px;
  }
  .movie-detail__right-part-rating-kinopoisk {
    font-size: 48px;
  }
}

@media (max-width: 1520px) {
  .movie-detail__wrap {
    width: 1320px;
  }
  .movie-detail__center-part {
    gap: 20px;
    width: 600px;
  }
  .movie-detail__left-part-poster {
    width: 260px;
    height: 370px;
  }
  .movie-detail__center-part-title {
    font-size: 40px;
  }
  .movie-detail__center-part-title-about {
    font-size: 24px;
  }
  .movie-detail__center-part-sequels-and-prequels-container-title {
    font-size: 24px;
  }
  .movie-detail__right-part-rating-kinopoisk {
    font-size: 40px;
  }
  .movie-detail__right-part-vote-count {
    font-size: 13px;
  }
  .movie-detail__right-part-actors-title {
    font-size: 16px;
  }
  .movie-detail__right-part-actors-name {
    font-size: 13px;
  }
}

@media (max-width: 1420px) {
  .movie-detail__container {
    padding-block-start: 110px;
  }
}

@media (max-width: 1320px) {
  .movie-detail__wrap {
    width: 1120px;
    padding-inline: 20px;
  }
  .movie-detail__center-part {
    gap: 10px;
    width: 500px;
  }
  .movie-detail__left-part-poster {
    width: 230px;
    height: 340px;
  }
  .movie-detail__center-part-title {
    font-size: 30px;
    margin-block-end: 10px;
  }
  .movie-detail__center-part-description {
    font-size: 13px;
  }
  .movie-detail__center-part-title-about {
    font-size: 20px;
  }
  .movie-detail__center-part-sequels-and-prequels-container-title {
    font-size: 20px;
  }
  .movie-detail__right-part-rating-kinopoisk {
    font-size: 30px;
  }
  .movie-detail__right-part-vote-count {
    font-size: 11px;
  }
  .movie-detail__center-part-about-container {
    padding-block: 8px;
    font-size: 11px;
  }
  .movie-detail__right-part-actors-title {
    font-size: 14px;
  }
  .movie-detail__right-part-actors-name {
    font-size: 12px;
  }
  .movie-detail__right-part-num-actors {
    font-size: 12px;
  }
  .movie-detail__center-part-title-desc {
    width: 100%;
    padding-inline: 0px;
  }
  .movie-detail__center-part-about-film-container {
    padding-inline: 0px;
  }
}

@media (max-width: 1120px) {
  .movie-detail__wrap {
    width: 920px;
  }
  .movie-detail__left-part-poster {
    width: 200px;
    height: 300px;
  }
  .movie-detail__center-part {
    gap: 0px;
    width: 400px;
  }
  .movie-detail__center-part-title {
    font-size: 24px;
  }
  .movie-detail__center-part-description {
    font-size: 12px;
  }
  .movie-detail__right-part-actors-title {
    font-size: 13px;
  }
  .movie-detail__right-part-actors-name {
    font-size: 11px;
  }
}

@media (max-width: 920px) {
  .movie-detail__wrap {
    width: 600px;
  }
  .movie-detail__container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .movie-detail__center-part {
    width: 100%;
  }
  .movie-detail__right-part {
    position: absolute;
    order: 2;
    margin-inline-start: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
  }
  .movie-detail__center-part {
    order: 3;
  }
  .movie-detail__right-part-actors-list {
    align-items: end;
  }
  .movie-detail__right-part-actors-and-oscars-container {
    margin-bottom: 0;
  }
  .movie-detail__right-part-num-actors {
    position: absolute;
    right: 0;
  }
  .movie-detail__left-part {
    gap: 30px;
  }
  .movie-detail__right-part-oscar-img {
    display: none;
  }
  .movie-detail__right-part-oscar-num {
    display: none;
  }
}

@media (max-width: 720px) {
  .movie-detail__container {
    padding-block-start: 100px;
  }
}

@media (max-width: 600px) {
  .movie-detail__wrap {
    width: 450px;
  }
  .movie-detail__right-part-actors-and-oscars-container {
    display: none;
  }
  .movie-detail__right-part-rating {
    order: 2;
  }
  .movie-detail__right-part-vote-count {
    display: none;
  }
}

@media (max-width: 450px) {
  .movie-detail__wrap {
    width: 350px;
  }
  .movie-detail__right-part {
    display: none;
  }
  .movie-detail__right-part-rating-kinopoisk {
    font-size: 26px;
  }
}

@media (max-width: 350px) {
  .movie-detail__wrap {
    width: 310px;
  }
  .movie-detail__right-part {
    top: 364px;
    right: 60px;
  }
  .movie-detail__right-part-rating-kinopoisk {
    font-size: 26px;
  }
}
