::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #1c232b;
}

::-webkit-scrollbar-thumb {
  background: #3c4755;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #424e5c;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #e9e9e9 !important;
  background-color: rgb(20, 25, 31) !important;
  overflow-y: scroll !important;
  line-height: 1.2 !important;
}

button {
  color: #e9e9e9;
  font-size: 14px;
  padding-block: 5px;
  padding-inline: 16px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.bear-react-carousel__nav-button {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: 2px solid #00a1e7 !important;

  &:hover {
    background-color: rgba(0, 0, 0, 1) !important;
    border: 3px solid #00b3ff !important;
  }
}

@media (max-width: 1199px) {
  .bear-react-carousel__nav-button {
    width: 34px !important;
    height: 34px !important;
  }
  .bear-react-carousel__nav-icon {
    width: 16px !important;
    height: 16px !important;
  }
}

@media (max-width: 900px) {
  .bear-react-carousel__nav-button {
    width: 30px !important;
    height: 30px !important;
  }
  .bear-react-carousel__nav-icon {
    width: 14px !important;
    height: 14px !important;
  }
}
