::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #1c232b;
}

::-webkit-scrollbar-thumb {
  background: #3c4755;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #424e5c;
}

body {
  color: #e9e9e9 !important;
  background-color: rgb(20, 25, 31) !important;
  overflow-y: scroll !important;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
