.container {
  padding-top: 100px;
  width: 1830px;
}

.skeletonContainer {
  padding-inline-end: 10px;
  height: 503px;
  position: relative;
  margin: 40px 0;
  padding-block-start: 10px;
  background-color: #1c232b;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
}

.skeletonTitle {
  width: 313px;
  height: 39px;
  background: #2a2e35;
  margin: 0 0 10px 15px;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

.skeletonCarousel {
  display: flex;
  gap: 14px;
  overflow-x: hidden;
  position: relative;
}

.skeletonCard {
  flex: 0 0 auto;
  width: 289px;
  height: 436px;
  background: #2a2e35;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    left: 200%;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 1630px;
  }
  .skeletonCard {
    width: 310px;
    height: 458px;
  }
  .skeletonContainer {
    height: 534px;
  }
}

@media (max-width: 1720px) {
  .container {
    width: 1330px;
  }
  .skeletonCard {
    width: 316px;
    height: 467px;
  }
  .skeletonContainer {
    height: 543px;
  }
}

@media (max-width: 1420px) {
  .container {
    padding-top: 80px;
    width: 1030px;
  }
  .skeletonCard {
    width: 326px;
    height: 484px;
  }
  .skeletonTitle {
    width: 283px;
    height: 35px;
  }
  .skeletonContainer {
    height: 554px;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 630px;
  }
  .skeletonCard {
    width: 296px;
    height: 434px;
  }
  .skeletonTitle {
    width: 252px;
    height: 31px;
  }
  .skeletonContainer {
    height: 498px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 330px;
  }
  .skeletonCard {
    width: 306px;
    height: 448px;
  }
  .skeletonTitle {
    width: 212px;
    height: 26px;
  }
  .skeletonContainer {
    height: 508px;
  }
}

@media (max-width: 420px) {
  .container {
    width: 278px;
  }
  .skeletonCard {
    width: 254px;
    height: 374px;
  }
  .skeletonContainer {
    height: 430px;
  }
}
