.movies-skeleton__wrap {
  padding-top: 100px;
  max-width: 1830px;
  margin: 0 auto;
}

.movies-skeleton__container {
  height: 503px;
  position: relative;
  margin: 40px 0;
  padding-block-start: 10px;
  overflow: hidden;
}

.movies-skeleton__title {
  width: 313px;
  height: 39px;
  background: #2a2e35;
  margin-block-end: 10px;
  margin-inline-start: 10px;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

.movies-skeleton__carousel {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  overflow-x: hidden;
  position: relative;
  padding-inline: 10px;
}

.movies-skeleton__card {
  flex: 0 0 auto;
  width: 289px;
  height: 436px;
  background: #2a2e35;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.05),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    left: 200%;
  }
}

@media (max-width: 1920px) {
  .movies-skeleton__wrap {
    width: 1630px;
  }
  .movies-skeleton__card {
    width: 310px;
    height: 458px;
  }
  .movies-skeleton__container {
    height: 534px;
  }
}

@media (max-width: 1720px) {
  .movies-skeleton__wrap {
    width: 1330px;
  }
  .movies-skeleton__card {
    width: 316px;
    height: 467px;
  }
  .movies-skeleton__container {
    height: 543px;
  }
}

@media (max-width: 1420px) {
  .movies-skeleton__wrap {
    padding-top: 80px;
    width: 1030px;
  }
  .movies-skeleton__card {
    width: 326px;
    height: 484px;
  }
  .movies-skeleton__title {
    width: 283px;
    height: 35px;
  }
  .movies-skeleton__container {
    height: 554px;
  }
}

@media (max-width: 1120px) {
  .movies-skeleton__wrap {
    width: 630px;
  }
  .movies-skeleton__card {
    width: 296px;
    height: 434px;
  }
  .movies-skeleton__title {
    width: 252px;
    height: 31px;
  }
  .movies-skeleton__container {
    height: 498px;
  }
}

@media (max-width: 720px) {
  .movies-skeleton__wrap {
    width: 330px;
  }
  .movies-skeleton__card {
    width: 306px;
    height: 448px;
  }
  .movies-skeleton__title {
    width: 212px;
    height: 26px;
  }
  .movies-skeleton__container {
    height: 508px;
  }
}

@media (max-width: 420px) {
  .movies-skeleton__wrap {
    width: 278px;
  }
  .movies-skeleton__card {
    width: 254px;
    height: 374px;
  }
  .movies-skeleton__container {
    height: 430px;
  }
}
