.movies__image {
  object-fit: cover;
  padding-block: 10px;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.movies__wrap {
  max-width: 1820px;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-inline: 50px;
  margin: 0 auto 60px;
}

.movies__container {
  width: 100%;
  padding-block-start: 20px;
  position: relative;
  margin: 30px auto 0;
  backdrop-filter: blur(20px);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(0, 161, 231, 0.5),
      transparent
    );
  }
  &:first-child {
    &::after {
      display: none;
    }
  }
}

.movies__title {
  position: relative;
  width: fit-content;
  padding-inline-start: 7px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  background: linear-gradient(45deg, #fff, #00a1e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bear-react-carousel__nav-button {
  padding: 25px !important;
  opacity: 1 !important;
  background-color: #29333d !important;
  border-radius: 8px !important;
  border: 1.6px solid rgba(0, 161, 231, 1) !important;
}

.bear-react-carousel__nav-icon {
  padding: 20px;
}

@media (max-width: 1420px) {
  .movies__title {
    font-size: 27px;
  }
}

@media (max-width: 1120px) {
  .movies__wrap {
    padding-inline: 20px;
  }
  .movies__title {
    font-size: 24px;
  }
  :global {
    .bear-react-carousel__nav-button {
      padding: 22px !important;
    }
    .bear-react-carousel__nav-icon {
      padding: 15px;
    }
  }
  .Movies__image {
    padding-block-start: 6px;
  }
  .movies__container {
    padding-block-start: 6px;
  }
}

@media (max-width: 720px) {
  .movies__title {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  :global {
    .bear-react-carousel__nav-button {
      padding: 20px !important;
    }
    .bear-react-carousel__nav-icon {
      padding: 13px;
    }
  }
}
