.Movies__image {
  object-fit: cover;
  padding-block: 10px;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.7;
  }
}

.movies__wrap {
  width: 1920px;
  overflow: hidden;
  padding-top: 100px;
  padding-inline: 50px;
}

.movies__container {
  width: 100%;
  position: relative;
  margin: 40px auto;
  background-color: #1c232b;
  backdrop-filter: blur(20px);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 161, 231, 0.3);
    pointer-events: none;
    z-index: -1;
  }
}

.movies__title {
  position: relative;
  width: fit-content;
  padding-inline-start: 7px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  background: linear-gradient(45deg, #fff, #00a1e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

:global {
  .bear-react-carousel__nav-button {
    padding: 25px !important;
    opacity: 1 !important;
    background-color: #29333d !important;
    border-radius: 8px !important;
    border: 1.6px solid rgba(0, 161, 231, 1) !important;
  }

  .bear-react-carousel__nav-icon {
    padding: 20px;
  }
}

@media (max-width: 1199px) {
  .movies__container {
    padding-block: 10px;
    margin-block: 30px;
  }
  .Movies__image {
    padding-top: 10px;
  }
  .Movies__rating {
    font-size: 13px;
    padding: 2px 6px;
    transform: scale(0.8);
    transform-origin: left bottom;
    bottom: 8px;
    left: 8px;
  }
  .movies__title {
    font-size: 21px !important;
  }
}

@media (max-width: 900px) {
  .movies__container {
    padding-block: 8px;
  }
  .Movies__image {
    padding-top: 8px;
  }
  .Movies__rating {
    transform: scale(0.7);
  }
  .movies__title {
    font-size: 18px !important;
  }
  .movies__container {
    gap: 6px;
  }
}

@media (max-width: 618px) {
  .movies__container {
    padding-block: 6px;
  }
  .Movies__image {
    padding-top: 6px;
  }
  .Movies__rating {
    transform: scale(0.8);
  }
  .movies__title {
    font-size: 14px !important;
  }
}
